#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q           &kp W        &kp E                 &kp R        &kp T                 &kp Y                 &kp U                 &kp I      &kp O        &kp P
&kp A           &kp S        &kp D                 &kp F        &kp G                 &trans                &trans                &kp H      &kp J        &kp MWH_UP  &kp MWH_DOWN &kp ENTER
&kp Z           &kp X        &kp C                 &kp V        &kp B                 &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS &kp N      &kp M        &kp COMMA   &kp PERIOD   &kp SLASH
&kp ESCAPE      &kp TAB      &kp LEFT_CONTROL      &kp LEFT_GUI &kp LEFT_ALT          &kp LC(SPACE)         &lt 1 SPACE           &kp BACKSPACE &kp LEFT_SHIFT
            >;
        };

        layer_1 {
            bindings = <
&trans          &trans       &trans                &trans       &trans                &trans                &trans                &trans     &trans       &trans
&trans          &trans       &trans                &trans       &trans                &trans                &trans                &trans     &trans       &trans      &trans       &trans
&trans          &trans       &trans                &trans       &trans                &trans                &trans                &trans     &trans       &trans      &trans       &trans
&trans          &trans       &trans                &trans       &trans                &trans                &to 0                 &trans       &trans
            >;
        };
    };
};
